@model EvilHack.Models.Quiz

@{
    ViewBag.Title = "Index";
}
<h1>Edit questions</h1>
<div class="row">
    <div class="col-sm-4">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active">
                Quiz 1
            </a>
            <a href="#" class="list-group-item list-group-item-action">Quiz 2</a>
            <a href="#" class="list-group-item list-group-item-action">Quiz 3</a>
        </div>
    </div>
    <div class="col-sm-8">
        <form method="post">
            @foreach (var item in Model.Questions)
            {
                @Html.Partial("~/Views/Questions/QuestionAndAnswersPartialView.cshtml", item)
            }
            @*Generate empty form at the end*@
            @Html.Partial("~/Views/Questions/EmptyQAPartialView.cshtml")
            <div class="form-group">
                <div>
                    <button class="btn btn-primary" name="submit" type="submit">
                        Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>